<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:decorate template="template.xhtml">
	<ui:define name="centro">
		<h:body>
			<style type="text/css">
			.ui-datatable.borderless thead th,
			.ui-datatable.borderless tbody,
			.ui-datatable.borderless tbody tr,
			.ui-datatable.borderless tbody td {
			    border-style: none;
			}		
			
			}
			</style>
			<h:form>
				<p:panelGrid columns="2">

					<p:outputLabel value="Nome da Funcionalidade"></p:outputLabel>
					<p:inputText value="#{funcionalidadesBean.func.nome}"></p:inputText>

				</p:panelGrid>
				<p:commandButton value="Adicionar"
					action="#{funcionalidadesBean.adicionar()}" update="@form"></p:commandButton>

				<p:dataTable value="#{funcionalidadesBean.funcs}" var="func" styleClass="borderless">
					<p:column headerText="Funcionalidade" sortBy="#{func.nome}">
						<h:outputText value="#{func.nome}"></h:outputText>
					</p:column>
					<p:column>
						<p:commandButton value="Editar"></p:commandButton>
					</p:column>
					<p:column>
						<p:commandButton value="Excluir"></p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>
		</h:body>
	</ui:define>
</ui:decorate>
</html>